.header {
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 45px;
  background:  #c8e90c;;
}
.search {
  border: 1px solid #dfdcdc;
  margin-left: 30px;
  padding-left: 20px;
  height: 30px;
  width: 250px;
  border-radius:20px;
  font-size: 15px;
  background: rgba(144, 194, 7, 0.2);
}
.body {
  position: relative;
}
.aside {
  position: absolute;
  padding: 30px;

  width: 300px;
  top: 50px;
  bottom: 0;
  

  
}
.board,.firstpage{
    padding-left:10px;
    width:250px;
    height:35px;
    line-height:35px;
    font-size:15px;
    font-weight: bolder;
}
.board:hover{
    background:rgba(77, 76, 76, 0.1)
}
.active{
    color:#8bc20c;
    background:rgba(181, 236, 29, 0.2)
}

.main {
  top: 50px;
  left: 300px;
  right: 0;
  bottom: 0;
  position: absolute;
  padding:20px;
  
}
.part1 div:nth-child(1),.part2 div:nth-child(1) {
    padding-left:20px;
    margin-top:15px;
    margin-bottom:5px;
    font-size:17px;
    font-weight:bold;
   
}
