.header {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 45px;
    background: #f1ee1c;
  }

  .search {
    border: 1px solid #dfdcdc;
    margin-left: 100px;
    padding-left: 10px;
    height: 40px;
  
    width: 200px;
    font-size: 15px;
    background: rgba(144, 194, 7, 0.2);
  }